@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

html,
body {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
  background-color: #fafafa;
}

figure {
  margin: 0px;
  padding: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

p {
  margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  padding: 0px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  background-image: linear-gradient(
    90deg,
    rgb(28, 54, 67),
    rgb(39, 59, 71) 25%,
    rgb(30, 83, 114)
  );
}

.platzi-logo {
  width: 25px;
  height: 25px;
  margin: 0px 2px;
}

.platzi-name {
  width: 50px;
  height: 25px;
  margin: 0px 2px;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 1rem;
  color: #fafafa;
  font-weight: 300;
  margin-bottom: 1px;
  margin-left: 2px;
}

.inputs-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  margin-top: 30px;
}

.inputs-container > label {
  font-size: 18px;
  font-weight: 500;
  margin: 8px 0px;
}

.input {
  text-align: center;
  width: 300px;
  padding: 2px 5px;
  font-size: 18px;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #fff;
}

.button {
  width: 150px;
  height: 30px;
  border: 1px solid #000;
  border-radius: 5px;
  font-size: 1.1rem;
  margin: 30px 0px;
}

.red {
  color: red;
}

.total-hours-container {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0px;
}

.total-hours-container > p:nth-of-type(1) {
  font-size: 1.2rem;
  font-weight: 200;
}

.total-hours-container > p:nth-of-type(2) {
  font-size: 1.2rem;
  font-weight: 400;
  margin-left: 5px;
}

.courses-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: fit-content;
}

.courses-container > h2 {
  font-weight: 500;
  font-size: 1.3rem;
  margin: 10px 0px;
}

.list-items {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 300px;
  height: inherit;
}

.list-items > li {
  font-weight: 300;
  font-size: 1.2rem;
}

.footer {
  width: 100%;
  height: fit-content;
  position: absolute;
  bottom: 0;
  background-image: linear-gradient(
    90deg,
    rgb(28, 54, 67),
    rgb(39, 59, 71) 25%,
    rgb(30, 83, 114)
  );
}

.footer-title {
  text-align: center;
  color: #fafafa;
  text-transform: uppercase;
  padding: 10px;
}

.footer-list-items {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-list-items > li {
  margin: 5px;
  font-weight: 300;
  color: #fafafa;
}
