<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" sizes="192x192" href="https://static.platzi.com/static/images/logos/platzi_favicon.png" type="image/x-icon">
  <link rel="preload" href="./css/index.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="./css/index.css"></noscript>
  <title>Platzi Courses Tracker | Vue💚</title>
</head>
<body>
  <div id="root">
    <header class="header">
      <div class="logo-container">
        <figure>
          <img class="platzi-logo" v-bind:src="platziLogo[0]" alt="">
        </figure>
        <figure>
          <img class="platzi-name" v-bind:src="platziLogo[1]" alt="">
        </figure>
      </div>
      <h1 class="title">{{ mainTitle }}</h1>
    </header>

    <!-- ADD COURSE FORM -->
    <section class="inputs-container">
      <span v-if="error === true" class="red">Error: You need to fill all the fields</span>
      <label for="title">Course Name</label>
      <input class="input" type="text" name="title" v-model="title" placeholder="VueJS Basico">
      <label for="number">Course Hours</label>
      <input class="input" type="number" name="number" v-model="time" placeholder="2">
      <input class="button" type="button" v-on:click="addCourse" value="Add Course" />
    </section>

    <!-- TOTAL HOURS -->
    <section class="total-hours-container">
      <p>🕑 Total hours:</p>
      <p v-bind:style="{color: '#' + color}">{{ totalTime }}</p>
    </section>

    <!-- COURSES LIST -->
    <section class="courses-container">
      <h2 v-if="courses.length > 0">Courses List</h2>
      <ul class="list-items">
        <li v-for="(course, key) in courses" v-bind:key="key">
          ▪️ {{ course.title }} => {{ course.time }}
        </li>
      </ul>
    </section>

    <footer class="footer">
      <p class="footer-title">Platzi Students <span>Community.💚</span></p>
      <ul class="footer-list-items">
        <li v-for="(student, key) in students" v-bind:key="key">
          🔥 {{ student }}
        </li>
      </ul>
      <span class="footer-made-by">Made with <a href="https://vuejs.org/" target="_blank">Vue💚</a></span>
    </footer>
  </div>
  <script defer src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script defer src="./js/index.js"></script>
</body>
</html>